@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700&family=Mea+Culpa&family=Noto+Sans+JP:wght@100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:wght@100;200;300;400;500;600;700&family=Mea+Culpa&family=Noto+Sans+JP:wght@100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ffffff;
    list-style-type: none;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #415a7788;
    border-radius: none;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: none;
    border: 3px solid rgba(255, 255, 255, 0.30);
}

#menu, #close {
    display: none;
    cursor: pointer;
}

body {
    background-color: #0D1B2A;
}

header {
    width: 100%;
    height: 80px;
    background-color: #1b263b;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
}

header > nav {
    width: 80%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > nav > h1 {
    font-family: "Mea Culpa", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
}

ul {
    display: flex;
    gap: 5px;
}

li {
    padding: 5px;
}

li:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.home {
    display: flex;
    height: 100vh;
    width: 80%;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    min-height: 800px;
}

.home > h2 {
    font-size: clamp(1.2em, 3vw, 2.5em);
}

.home > h3 {
    text-align: center;
    font-size: clamp(0.7em, 2vw, 2.1em);
}

.home > p {
    text-align: center;
    font-size: clamp(0.7em, 2vw, 2em);
}

.list-icons {
    margin-top: 20px;
}

.icons {
    width: 35px;
}

.scroll {
    margin-top: 50px;
}

.scroll::before {
    content: "";
    display: block;
    width: 2px;
    height: 30px;
    background-color: #ffffff;
    margin: 10px auto;
}

.about-me {
    width: 80%;
    max-width: 1200px;
    height: 100vh;
    min-height: 650px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex-direction: column;
}

.about-me > h4, .specialties > h4 {
    text-align: left;
    width: 100%;
    font-size: clamp(14px, 1.5vw, 1.5em);
}

article > p {
    font-size: clamp(10px, 1.3vw, 1.1em);
}

.about-me > h4::after, .specialties > h4::after {
    content: "";
    display: block;
    width: 250px;
    height: 2px;
    background-color: #ffffff;
    margin: 5px 0 5px 0;
}

button {
    margin: 20px 0 20px 0;
    padding: clamp(10px, 1vw, 20px);
    font-size: clamp(10px, 1.3vw, 1.1em);
    width: 100%;
    min-height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #415a7788;
}

.specialties {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 1200px;
    height: 100vh;
    min-height: 700px;
    margin: 0 auto;
    flex-direction: column;
}


li > p {
    font-size: clamp(10px, 1.3vw, 1.1em);
}

.list-specialties {
    width: 100%;
    margin-top: 20px;
    display: flex;
    gap: 30px;
}

.list-specialties > li {
    width: 100%;
    padding: 10px;
    text-align: justify;
}

.list-specialties > li > img {
    width: 100%;
    max-width: 300px;
}

.list-specialties > li > h5 {
    font-size: 1.5em;
    margin: 15px 0 5px 0;
}





@media (max-width: 800px) {  

    .about-me, .specialties {
        height: 100%;
        min-height: auto;
    }

    .list-nav {
        display: none;
    }

    #menu {
        display: block;
    }

    .list-specialties {
        display: block;
        height: 100%;
    }

    .list-nav {
        display: none;
        position: fixed;
        width: 100%;
        left: 0;
        top: 80px;
        text-align: center;
        padding: 15px;
        height: 100vh;
        background-color: #1b263b;
    }

}

@media (min-width: 800px) {
    .list-nav {
        display: flex;
    }
}